<!DOCTYPE html>
<html lang="es">
  <link rel="stylesheet" href="/css/páginas/styles_productsList.css">
  <%- include('../partials/head.ejs')%>
  <title>Lista de Productos</title>
<body>
  <%- include('../partials/header.ejs')%>
  <h1 class="title">Autos disponibles</h1>
  <div class="listado">
  <ul>
      <% for (let i = 0; i< products.length; i++) { %>
        <li>
            <img class="img" src="/img/PNG/Marcas/Volkswagen/Gol/t-cross_B-min.png" alt="">
            <div class="lista">
            <label>Marca</label>
            <a href="/productos/<%= products[i].id %>"><%= products[i].marca %></a>
            <label>Modelo</label>
            <a href="/productos/<%= products[i].id %>"><%= products[i].modelo %></a>
            <Label>Precio</Label>
            <a href="/productos/<%= products[i].id %>"><%= products[i].price %></a>
        </div>
        </li>
      <% } %>
  </ul>
</div>
    
</body>
    <%- include('../partials/footer.ejs')%>
</html>